*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
    font-size: 16px;
}

body{
    /* background-color: #99444A; */
    /* background-image: linear-gradient(229deg, #D2340B 0%,#2DCBF4 99%); */
    background-image: linear-gradient(120deg, #e9e6e6 40%, rgb(156, 169, 228) 100%);
    }

/* navigations */
.navigation-wrapper{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.navigation-wrapper-bg{
    position: absolute;
    width: 100%;
    height: 350px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(img-file/christopher-gower-m_HRfLhgABo-unsplash-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: skewy(-5deg);
    transform-origin: top left;
    filter: brightness(70%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
}

.navigation-content-wrapper{
    position: absolute;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-text-wrapper h1{
    color: #cbcbcb;
    font-style: italic;
    font-size: 1.2rem;
}

.nav-text-wrapper h1::first-letter{
    font-size: 2.5rem;
}

.nav-links-wrapper .nav-links-wrapper-ul{
    display: flex;
}

.nav-links-wrapper .nav-links-wrapper-ul .nav-links-wrapper-li{
    width: 100px;
    margin-top: .7em;
    list-style: none;
    text-align: center;
    transition: 0.5s;
    transition-timing-function: ease;
    letter-spacing: 1px;
}

.nav-links-wrapper .nav-links-wrapper-ul .nav-links-wrapper-li a{
    text-decoration: none;
    color: #f1eeee;
    font-size: .9rem;
}

.nav-links-wrapper .nav-links-wrapper-ul .nav-links-wrapper-li:hover{
    text-decoration: underline;
    letter-spacing: 2px;

}

/* navigations-end */

/* page-content-wrapper */

/* home */

.page-content-wrapper{
    width: 85%;
    margin: 0 auto;
    margin-top: 370px; 
}

.content-wrapper{
    width: 100%;
    margin: 0 auto;
}
.content-wrapper .home-content-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 300px;
}

.home-img-wrapper{
    /* width: 270px; */
    position: relative;
    /* border: 1px solid gold; */
    width: 50%;
    height: 300px;
    top: -150px;
    left: 400px;
}

.home-img-wrapper img{
    box-shadow: -4px 4px 30px -3px rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 140%;
    object-fit:cover;
    border-radius: 200px;
    filter: brightness(90%);
}

.home-text-wrapper> div:nth-child(1){
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 2.3rem;
    text-shadow: 3px 1px 4px rgb(134, 129, 129);
}

.home-text-wrapper> div:nth-child(2){
    font-weight: 400;
    font-size: 1.9rem;
    letter-spacing: 2px;
    line-height: 1.5em;
}







/* home end */

/* about me */

.about-content-wrapper{
    width: 100%;
    padding: 1em 0;
    margin-bottom: 1.5em;
}

.skills-header h3,
.about-header {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .5em;
}

.about-text-wrapper,
.skills-container > section{
    letter-spacing: 1px;
    line-height: 1.6em;
    font-size: 1.1rem;
}

.about-text-wrapper > a:hover{
    color: red;
}


.about-text-wrapper > a{
    color: rgb(90, 88, 88);
}


/* my skills */


.skills-container > section{
    width: 50%;
    margin-bottom: 1em;

}

.skills-content-wrapper{
    display: flex;
    justify-content: space-around;
}

.skills-content-wrapper> div{
    text-align: center;
    width: 280px;
    padding: 1em;
    margin-bottom: 2.9em;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.21);
}

.skills-container > .skills-content-wrapper> div > p{
    font-weight: 600;
    font-size: 1.3rem;
}

.skills-container > .skills-content-wrapper >div >img{
    width: 100px;
    height: 130px;
}


/* footer */

footer{
    height: 200px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 600;
    background: #d9e4ee96;
}

/*  contacts */

#contact{
    display: flex;
    /* padding: 0 4em; */
    /* border: 1px solid gold; */
}

.link-buttons{
    margin: 1em;
}
.link-buttons> a{
    color: #000;
}
.icon{
    display: inline-block;
    line-height: 40px;
    width: 40px;
    padding: 7px;
    height: 40px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.282);
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.781);
}

.button{
    display: inline-block;
    align-items: center;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.303);
    width: 40px;
    height: 40px;
    border-radius: 30px;
    overflow: hidden;
    transition: 1s;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.781);
}
.button> span> a{
    color: #000;
    font-size: .2rem;
    margin-top: -10px;
}

.button> span{
    line-height: -100px;
    font-size: 20px;
}

.button:hover{
    width: 350px;
}
/* contacts */


/* media  */

@media (max-width: 970px) {
    *{
        font-size: 14px
    }

    /* nav */
    .nav-links-wrapper{
        width: 100%;
    }

    .nav-links-wrapper > .nav-links-wrapper-ul{
        flex-direction: column;
    }

    .nav-links-wrapper > .nav-links-wrapper-ul .nav-links-wrapper-li{
        /* border: 1px solid gold; */
        width: 100%;
        margin-bottom: 1em;
        text-align: left;
    }

    .nav-links-wrapper > .nav-links-wrapper-ul .nav-links-wrapper-li a{
        font-size: 1.01rem;
    }


    .navigation-content-wrapper{
        flex-direction: column;
        /* border: 1px solid gold; */
        align-items: flex-start;
    }
    /* home */
    .home-content-wrapper{
        flex-direction: column;
        border: 1px solid gold;
    }

    .home-img-wrapper{
        border: 1px solid gold;
        width: 250px;
        /* position: absolute; */
        /* right: 50px; */
        /* top: 220px; */
    }
    
    .home-img-wrapper img{
       /* object-fit: cover;
        height: 340px;
        right: 0; */
    }

    /*skills*/
    .skills-content-wrapper{
        /* flex-direction: column; */
        /* align-items: center; */
        display: grid;
        grid-template-areas: 
        'a a c'
        'd e e'
        ;
    }

    .skills-content-wrapper> div:nth-child(1){
        grid-area: a;
    }
    .skills-content-wrapper> div:nth-child(2){
        grid-area: c;
    }
    .skills-content-wrapper> div:nth-child(3){
        grid-area: e;
    }
    
    .skills-container > section{
        width: 70%;
        margin-bottom: 1em;
    
    }
    

}

@media (max-width: 700px) {

    .skills-content-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    *{
        font-size: 12px
    }

    .skills-container > section{
        width: 100%;
        margin-bottom: 1em;
    
    }

    .skills-content-wrapper> div{
        width: 80%;
    }

    
}





